.cooperation {
    overflow: hidden;
    &__content {
        padding: 72px 0 70px 18px;
    }

    &__title {
        font-weight: 600;
        font-size: 38px;
        line-height: 46px;
        color: $black;
        margin-bottom: 29px;
        padding-left: 1px;

        @media (max-width: 1280px) {
            font-size: 35px;
            line-height: 43px;
        }

        @media (max-width: 1000px) {
            font-size: 30px;
            line-height: 38px;
        }
    }

    &__text {
        @include main-title;
        position: relative;
        max-width: 665px;
        color: $black;
        margin-bottom: 55px;
        padding-left: 1px;

        @media (max-width: 1280px) {
            font-size: 42px;
            line-height: 52px;
        }

        @media (max-width: 1000px) {
            font-size: 37px;
            line-height: 47px;
        }

        &::before {
            position: absolute;
            content: "";
            width: 180%;
            height: 4px;
            background-color: #1d2931;
            top: 40px;
            right: -310%;
        }

        &::after {
            position: absolute;
            content: url("../img/main/coop_blackline.svg");
            top: 20px;
            right: -887px;
            width: 844px;
            height: 34px;

            @media (max-width: 1280px) {
                right: -840px;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px 30px;

        @media (max-width: 1000px) {
            justify-content: space-between;
        }
    }

    &__item {
        position: relative;
        max-width: 273px;
        height: 300px;
        background: $black;
        border-radius: 33px;
        z-index: 10;

        @media (max-width: 1000px) {
            max-width: 380px;
        }

        @media (max-width: 870px) {
            width: 320px;
        }

        &::after {
            position: absolute;
            content: " ";
            background-image: url("../img/main/cooperation_radius.png");
            background-size: cover;
            top: 0;
            left: 0;
            width: 130px;
            height: 121px;
            opacity: 0.4;
        }

        &:nth-child(1):before {
            position: relative;
            top: 29px;
            left: 30px;
            content: "01";
            font-weight: 800;
            font-size: 45px;
            line-height: 55px;
            text-transform: uppercase;
            color: $red;
            z-index: 1;
        }

        &:nth-child(2):before {
            position: relative;
            top: 29px;
            left: 30px;
            content: "02";
            font-weight: 800;
            font-size: 45px;
            line-height: 55px;
            text-transform: uppercase;
            color: $red;
            z-index: 1;
        }

        &:nth-child(3):before {
            position: relative;
            top: 29px;
            left: 30px;
            content: "03";
            font-weight: 800;
            font-size: 45px;
            line-height: 55px;
            text-transform: uppercase;
            color: $red;
            z-index: 1;
        }

        &:nth-child(4):before {
            position: relative;
            top: 29px;
            left: 30px;
            content: "04";
            font-weight: 800;
            font-size: 45px;
            line-height: 55px;
            text-transform: uppercase;
            color: $red;
            z-index: 1;
        }
    }

    .item {
        &__text {
            font-weight: 600;
            font-size: 23px;
            line-height: 28px;
            color: $white;
            padding: 75px 30px 0 30px;
            text-align: start;
        }
    }
}

@media (max-width: $tablet-width) {
    .cooperation {
        &__content {
            padding: 50px 0 30px 0;
        }

        &__title {
            font-size: 28px;
            line-height: 34px;

            @media (max-width: 530px) {
                font-size: 26px;
                line-height: 30px;
                text-align: center;
            }
        }

        &__text {
            @include main-title;
            max-width: 535px;
            margin-bottom: 31px;

            @media (max-width: 530px) {
                font-size: 30px;
                line-height: 40px;
                text-align: center;
            }

            &::after {
                @media (max-width: $tablet-width) {
                    top: 20px;
                    right: -886px;
                    content: url("../img/main/coop_blackline_tablet.svg");
                    right: -830px;
                }
            }
        }

        &__list {
            @media (max-width: 1000px) {
                justify-content: center;
            }

            @media (max-width: 700px) {
                flex-direction: column;
                align-items: center;
            }
        }

        &__item {
            width: 328px;
            height: 267px;

            @media (max-width: 700px) {
                width: 100%;
            }

            &:not(:last-child) {
                margin-right: 20px;
                margin-bottom: 20px;

                @media (max-width: 700px) {
                    margin-right: 0;
                }
            }

            &:nth-child(2n) {
                margin-right: 0;
            }

            &::after {
                width: 134px;
                height: 124px;
            }

            & .item__text:nth-child(1) {
                padding: 86px 35px 0 30px;
            }
        }

        .item {
            &__text {
                font-size: 20px;
                line-height: 24px;
                padding: 86px 33px 0 30px;
            }
        }
    }
}

@media (max-width: $mobile-width) {
    .cooperation {
        &__content {
            padding: 41px 0 40px 0;
        }

        &__title {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 21px;
            text-align: center;
        }

        &__text {
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            margin-bottom: 23px;

            &::after {
                content: " ";
                background-image: url("../img/main/coop_blackline.svg");
                background-size: cover;
                width: 75px;
                height: 15px;
                top: 72px;
                right: 232px;
                transform: scale(-1, 1);
            }
        }

        &__list {
            gap: 0;
        }

        &__item {
            margin-right: 0;
            height: 244px;

            &:not(:last-child) {
                margin-right: 0;
            }

            &:nth-child(1) {
                padding-right: 55px;
            }

            &:nth-child(2n) {
                padding-right: 30px;
            }

            &::after {
                width: 114px;
                height: 106px;
            }

            &:nth-child(1):before {
                font-size: 35px;
                line-height: 43px;
            }

            &:nth-child(2):before {
                font-size: 35px;
                line-height: 43px;
            }

            &:nth-child(3):before {
                font-size: 35px;
                line-height: 43px;
            }

            &:nth-child(4):before {
                font-size: 35px;
                line-height: 43px;
            }

            & .item__text:nth-child(1) {
                padding: 75px 0 0 24px;
            }

            & .item__text:nth-child(2) {
                padding: 75px 0 0 24px;
            }
        }

        .item {
            &__text {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
}
