.partnership {
    overflow: hidden;
    background: #1D2931;

    &__wrapper {
        display: flex;
        flex-direction: row-reverse;
    }

    &__content {
        position: relative;
        max-width: 676px;
        padding-bottom: 70px;

        @media (max-width: 1200px) {
            max-width: 620px;
            z-index: 3;
        }

        @media (max-width: 1000px) {
            max-width: 540px;
        }

        &::before {
            position: absolute;
            content: "";
            background-image: url("../img/main/partnership_pig.png");
            background-size: cover;
            width: 616px;
            height: 561px;
            top: 0;
            left: -627px;

            @media (max-width: 1200px) {
                width: 573px;
                height: 520px;
                left: -509px;
                z-index: -1;
            }

            @media (max-width: 1000px) {
                width: 523px;
                height: 478px;
                left: -441px;
                top: 22px;
            }
        }
    }

    &__text {
        font-weight: 600;
        font-size: 38px;
        line-height: 46px;
        color: $white;
        padding-top: 72px;

        @media (max-width: 1200px) {
            font-size: 32px;
            line-height: 42px;
        }

        @media (max-width: 1000px) {
            font-size: 30px;
            line-height: 40px;
        }
    }
    
    &__title {
        @include main-title;
        max-width: 560px;
        color: $white;
        margin-top: 48px;

        @media (max-width: 1200px) {
            font-size: 40px;
            line-height: 50px;
        }

        @media (max-width: 1000px) {
            font-size: 37px;
            line-height: 45px;
        }
    }
    
    &__button {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        border: 0;
        color: $white;
        background-color: $red;
        padding: 22px 115px;
        margin-top: 50px;
        border-radius: 33px;
    }
}

@media (max-width: $tablet-width) {
    .partnership {
        &__wrapper {
            @media (max-width: 700px) {
                flex-direction: column;
                align-items: center;
            }
        }
        
        &__content {
            @media (max-width: $tablet-width) {
                max-width: 393px;
                padding-bottom: 50px;
                z-index: 1;

                @media (max-width: 500px) {
                    width: 100%;
                }
            }
    
            &::before {
                @media (max-width: $tablet-width) {
                    position: absolute;
                    content: "";
                    background-image: url("../img/main/partnership_pig_tablet.png");
                    background-size: cover;
                    width: 380px;
                    height: 417px;
                    top: 17px;
                    left: -335px;
                    z-index: -1;
                }

                @media (max-width: 700px) {
                    position: absolute;
                    content: "";
                    background-image: url("../img/main/partnership_pig.png");
                    background-size: cover;
                    top: 196px;
                    left: -4px;
                    width: 469px;
                    height: 406px;
                }
            }
        }
    
        &__text {
            @media (max-width: $tablet-width) {
                font-size: 28px;
                line-height: 34px;
                padding-top: 50px;
            }

            @media (max-width: 500px) {
                font-size: 23px;
                line-height: 28px;
            }
        }
        
        &__title {
            @media (max-width: $tablet-width) {
                @include main-title;
                margin-top: 30px;
                margin-bottom: 0;
            }

            @media (max-width: 700px) {
                margin-bottom: 260px;
            }

            @media (max-width: 500px) {
                font-size: 30px;
                line-height: 36px;
            }
        }
        
        &__button {
            @media (max-width: $tablet-width) {
                width: 388px;
                height: 55px;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                padding: 17px 0;
                margin-top: 35px;
            }

            @media (max-width: 500px) {
                width: 100%;
            }
        }
    }
}

@media (max-width: $mobile-width) {
    .partnership {
        @media (max-width: $mobile-width) {
            padding-bottom: 0;
        }
    
        &__wrapper {
            @media (max-width: $mobile-width) {
                display: flex;
                flex-direction: column;
            }
        }
    
        &__content {
            @media (max-width: $mobile-width) {
                max-width: 320px;
                padding-bottom: 40px;
            }
    
            &::before {
                @media (max-width: $mobile-width) {
                    position: absolute;
                    content: "";
                    background-image: url("../img/main/partnership_pig.png");
                    background-size: cover;
                    top: 220px;
                    left: 0;
                    width: 300px;
                    height: 273px;
                }
            }
        }
    
        &__text {
            @media (max-width: $mobile-width) {
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                padding-top: 40px;
            }
        }
        
        &__title {
            @media (max-width: $mobile-width) {
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 273px;
            }
        }
        
        &__button {
            @media (max-width: $mobile-width) {
                width: 300px;
                height: 45px;
                font-size: 14px;
                line-height: 17px;
                margin-top: 1px;
                padding: 14px 0;
            }
        }
    }
}