//colors
$white: #ffffff;
$red: #F15F79;
$tint-red: #E53C5A;
$black: #1D2931;
$text-link: #bbbbcb;
//width
$mobile-width: 320px;
$mobile-adaptive-width: 767px;
$tablet-width: 768px;
$fixed-width: 1280px;
//fonts